.content{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	
}
.item{
	padding: 10px 10px;
	width: 400px;
	border: #c58805 5px solid;
	background-color: goldenrod;
	position: absolute;
	width: 100%;
	max-width: 480px;
	font-family: "SF Pro Display", sans-serif;
	font-size: 18px;
	text-align: center;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
	padding: 15px;
	border-radius: 18px;
}
p{
	margin: 0px;
}
.PS{
	bottom: 50px;
	padding: 10px 10px;
	width: 400px;
	border: #c58805 5px solid;
	background-color: goldenrod;
	position: fixed;
	width: 100%;
	max-width: 480px;
	font-family: "SF Pro Display", sans-serif;
	font-size: 18px;
	text-align: center;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
	padding: 15px;
	border-radius: 18px;
}

#cookie-btn{

	margin: 15px 0 0 0;
	height: 50px;
	border: none;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: #3598dc;
  width: 48%;
  border-radius: 26px;
}


.backInfo{
	display: none;
	position: fixed;
	top: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
}
.message{
	border: #c58805 5px solid;
	background-color: rgb(250, 252, 255);
	position: absolute;
	width: 100%;
	max-width: 480px;
	font-family: "SF Pro Display", sans-serif;
	font-size: 18px;
	text-align: center;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
	padding: 15px;
	border-radius: 18px;
}
.info-btn{
	margin: 25px 0 0 0;
	height: 50px;
	border: none;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	background: #3598dc;
    width: 48%;
    border-radius: 14px;
}